<fieldset>
  <legend><%= t('transactions') %></legend>
  <% payment.log_entries.reverse.each do |log| %>
  <% details = YAML.load(log.details) rescue "" %>
    <table class="index">
      <% if details.is_a? ActiveMerchant::Billing::Response %>
        <tr>
          <th colspan="6"><%= t('transaction') %> <%= details.params["transaction_id"] %> -  <%= log.created_at.to_s(:date_time24) %></th>
        </tr>
        <tr>
          <td width="12%;"><label><%= t('status') %>:</label></td>
          <td width="20%;">
            <%= details.params["data"]["status"] %>
          </td>
          <td width="8%;"><label><%= t("result") %>:</label></td>
          <td width="20%;">
            <%= details.success? %>
          </td>
          <td width="15%;"><label><%= t("amount") %>:</label></td>
          <td width="20%;">
            <%= number_to_currency(details.params["data"]["amount"].to_f/100) %>
          </td>
        </tr>
        <tr>
          <td><label><%= t("paymill_id") %>:</label></td>
          <td colspan="3">
            <%= details.params["data"]["id"] %>
          </td>
          <td><label><%= t("paymill_response_code") %>:</label></td>
          <td>
            <%= details.params["data"]["response_code"] %>
          </td>
        </tr>
        <tr>
          <td><label><%= t("comment") %>:</label></td>
          <td colspan="5">
            <%= details.message %>
          </td>
        </tr>
      <% else %>
        <tr>
          <th colspan="6"><%= t('unknown_transaction') %> -  <%= log.created_at.to_s(:date_time24) %></th>
        </tr>
        <tr>
          <td colspan="6"><pre style="overflow: hidden; width:600px;"><%= log.details %></pre></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</fieldset>